body {
    background-color: rgb(238, 237, 232); 
    position: relative;
    min-width: 500px;
    
}
p {
   color:rgb(77, 52, 7);
    font-size: 30px; 
   text-align: center;
   font-family: Courier;
}
a {
    text-decoration: none;
}
.description {
    
    margin: 0;
    padding: 0;
    width: 36%;
    height: 190px;
    float: left;
     background-color: rgb(231, 209, 10); 
    border-top: 5px solid rgb(77, 52, 7);
    border-bottom: 5px solid rgb(77, 52, 7); 

    
}
.description p {
    color:rgb(77, 52, 7);
    font-size: 20px;
    font-family: monospace;
    font-weight: bold;

}
.description img {
    float: left;
    padding-bottom: 20px;
}
.menubar {
    
    margin: 0;
    padding: 0;
    width: 64%;
    height: 190px;
    float: right;
    background-color: rgb(231, 209, 10); 
     border-top: 5px solid rgb(77, 52, 7);
    border-bottom: 5px solid rgb(77, 52, 7); 
}
.menubar ul{
    margin: 0;
    padding: 0;
    list-style: none;
    
}
.menubar ul li a {
    text-decoration: none;
    color: rgb(77, 52, 7);
    font-weight: bold;
    font-size: 17px;
    font-family: monospace;
    display: block;
}
.menubar ul li {
    float: left;
    width: 175px;
    height: 36px;
    line-height: 40px;
    /* background-color: rgb(231, 209, 10); */
    text-align: center;
}
.menubar ul li a:hover {
background-color: rgb(207, 194, 75);
}
.menubar ul li ul li {
    display: none;
    background-color: rgb(240, 217, 13);
}
.menubar ul li ul li a {
    font-size: 15px;
}
.menubar ul li:hover ul li {
    display: block; 
}
.vision {
    width: 50%;
    height: 500px;
    color: rgb(77, 52, 7);
    background: url(images/vision.jpg);
    display: flex;
    float: left;
}
.vision h1 {
    text-align: center;
}
.vision p {
    color: black;
    font-weight: bold;
    text-align: center;
    font-size: 50px;
    font-family: Arial;
}
.mission {
    width: 50%;
    height: 500px;
    background: url(images/mission.jpg);
    display: flex;
    float: right;   
}
.mission p {
    color: black;
    font-weight: bold;
    text-align: center;
    font-size: 37px;
    font-family: arial;
}
.ab {
    display: inline-block;
    background: url(images/bar.jpg);
    width: 1660px;
    height: 272px;
}
.ab p {
    color: white;
    font-size: 80px;
    text-align: center; 
}
.grid1 {
    padding-top: 20px;
    width: 250px;
    height:1000px;
    border-radius: 5px;
    background-color: rgb(213, 234, 247);
    margin-left: 210px;
    margin-top: 30px;
    float: left;
    
    
}


.grid2 {
    padding-top: 20px;
    margin-right: 200px;
    margin-top: 30px;
    width: 1000px;
    height: 1000px;
    border-radius: 5px;
    float: right;
    background-color: white;
    display: none;
    
    
}
.grid2.active{
    display: block;
    
}
.grid2 p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;  
}

#a11 p{ 
    font-size: 25px;
}
#a12 p{
    font-size: 25px;
}
#a21 p{
    font-size: 25px;
}
#a22 p{
    font-size: 25px;
}
#a312 p{
    font-size: 20px;
}
#a41 p{
    font-size: 25px;
}
#a42 p{
    font-size: 25px;
}
.heading {
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    color: brown;
}
.company img {
    margin: 30px;
    width: 200px;
}


